html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Regular"),
    url("../fonts/MontserratRegular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-SemiBold"),
    url("../fonts/MontserratSemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Medium"),
    url("../fonts/MontserratMedium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-ExtraBold"),
    url("../fonts/MontserratExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}



body {
    min-width: 320px;
    font-family: "Montserrat", sans-serif;
    background-color:  #fff;
    font-weight: 400;
}

.link-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.flex {
    display: flex;
}

.container {
    max-width: 1920px;
    padding: 0 75px;
    margin:  auto;
}

:root {
    --whitecolor: white;
    --blackcolor: black;
    --darkgreycolor: #414141;
    --lightgraycolor: #CACACA;
    --middlegraycolor: #666666;
    --sandcolor: #FF9900;
    --lightgreencolor: #97EE3F;
    --darksandcolor: #E1670E;
}


/*logo*/

.header {
    
    margin-bottom: 50px;
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    

}

.container__shadow {
    position: relative;
    padding-top: 14px;
    padding-bottom: 13px;
}

.header__logo {
    align-items: center;
}



.header__logo__img {
    margin-right: auto;
}

.header__navigation {
    align-items: center;
}

.header__nav {
    margin-right: 260px;
}

.header__list {
    transition: color 0.3s ease-in-out;
}

.header__li {
    margin-right: 85px;
}



.header__li:last-child {
    margin: 0;
}

.header__link {
    position: relative;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: var(--blackcolor);
}

.header__link:focus {
    outline: 2px solid var(--sandcolor);
    outline-offset: 5px;
}

.header__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--sandcolor);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.header__link:hover::after {
    opacity: 1;
}

.header__link:active {
    color: var(--darksandcolor);
    border-bottom: 2px solid var(--darksandcolor);
    outline: none;
}

.header__btn {
    background-color: var(--whitecolor);
    border: none;
    padding: 0;
}

.header__btn:focus-visible {
    outline: none;
}

.header__btn .header__btn__img{
    stroke: black;
}

.header__btn:focus .header__btn__img {
    outline: 1px solid var(--sandcolor);
    outline-offset: 5px;
}

.header__btn:hover .header__btn__img {
    stroke: var(--sandcolor);
}

.burger {
    display: none;
}



.header__form {
    position: absolute;
    right: 0;
    transform: translateY(-90px);
    transition: transform 0.6s;
}

.header__form--active {
    transform: translateY(0);
    transition: transform 0.6s;
}


.header__form input {
    width: 539px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    border: none;
    padding: 16px 332px 22px 32px;
    outline: none;
}

.header__form .header__btn__img{
    stroke: black;
    
}

.form__header__button  {
    position: absolute;
    padding: 0;
    top: 32%;
    left: 80%;
    border: none;
    background-color: white;
    cursor: pointer;
}

.form__header__btn {
    position: absolute;
    padding: 0;
    top: 32%;
    left: 90%;
    border: none;
    background-color: white;
    cursor: pointer;
}

.header__form:focus .header__btn__img {
    outline: 1px solid var(--sandcolor);
    outline-offset: 5px;
}

.header__form:hover .header__btn__img {
    stroke: var(--sandcolor);
}

.header__form:focus .header__img__btn {
    outline: 1px solid var(--sandcolor);
    outline-offset: 5px;
}

.header__img__btn {
    stroke: var(--lightgraycolor);
}

.header__form:hover .header__img__btn {
    stroke: var(--sandcolor);
}


/*hero*/

.section {
    margin-bottom: 50px;
}

.swiper-container {
    position: relative;
}

.swiper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

    

.slide1 {
    background-image: url("../img/header.hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 32px;
    object-fit: cover;
}

.slide2 {
    background-image: url("../img/hero-pic-1920-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 32px;
    object-fit: cover;
}

.slide3 {
    background-image: url("../img/hero-pic-1920-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 32px;
    object-fit: cover;
}


.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}

.swiper-pagination-bullet-active {
    background-color: white;
}

.hero__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 20px 30px 80px;
}

.hero__title {
    max-width: 837px;
    margin: 0;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: var(--whitecolor);
    z-index: 1;
}

.hero__text {
    max-width: 790px;
    margin: 0;
    margin-bottom: 90px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--whitecolor);
    z-index: 1;
}

.btn {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 50px;
    padding: 25px 40px;
    background-color: var(--sandcolor);
    border-radius: 16px;
    color: var(--whitecolor);
    border: 1px solid var(--sandcolor);
    transition: background 0.3s ease-in-out;
    z-index: 1;
}

.btn:focus {
    background-color: #FFB84D;
    border: #FFB84D;
}

.btn:hover {
    background-color: #FFB84D;
    border: #FFB84D;
}

.btn:active {
    background-color: var(--darksandcolor);
}

.hero__btn {
    padding-right: 50px;
    align-self: center;
}

.hero__button {
    margin-right: 16px;
    background: var(--lightgraycolor);
    border-radius: 15px;
    width: 15px;
    height: 15px;
    border: none;
}

.hero__button:last-child {
    margin-right: 0;
}

/*about*/

.about {
    margin-bottom: 100px;
}

.about__content {
    display: flex;

}

.about__title {
    margin: 0;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: var(--blackcolor);
}

.about__text {
    max-width: 1235px;
    margin: 0;
    margin-bottom: 50px;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: var(--blackcolor);
}

.about__img {
    display: flex;
    align-items: flex-end;
    background-image: url(../img/about.Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 868px;
    padding-top: 426px;
    margin-right: 32px;
    border-radius: 32px;
    background-position: center;
}

.about__img__text {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 50px;
    color: var(--whitecolor);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
}

.about__description {
    margin: 0;
    margin-right: 160px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
}

.about__btn {
    padding: 20px 38px;
    border: 3px solid var(--sandcolor);
    border-radius: 16px;
    background: #00000050 50%;
    color: var(--whitecolor);
    transition: background 0.3s ease-in-out;
}

.about__btn:focus {
    background-color: var(--sandcolor) ;
}

.about__btn:hover {
    background-color: var(--sandcolor) ;
}

.about__btn:active {
    background-color: var(--darksandcolor);
}

.about__plan {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.about__plan__list {
    padding: 65px 118px 60px 300px;
    border: 1px solid var(--lightgraycolor);
    border-radius: 32px;
    margin-bottom: 32px;
    background-position: 60px center;
    max-width: 870px;
}

.about__plan__list:last-child {
    margin-bottom: 0;
}

.about__subject {
    margin: 0;
    margin-bottom: 8px;
    font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 29px;
letter-spacing: -.8px;
}

.about__text1 {
    margin: 0;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
}

.img__list {
    background-image: url(../img/Frame.about1.jpg);
    background-repeat: no-repeat;
    
}

.img__list1 {
    background-image: url(../img/Frame.about.jpg);
    background-repeat: no-repeat;
}

/*how*/

.how {
    margin-bottom: 100px;
}

.how__title {
    margin: 0;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
}

.how__list {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
    margin-bottom: 45px;
}

.how__li {
    margin-right: 81px;
}

.how__li:last-child {
    margin-right: 0;
}

.how__btn {
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background-color: var(--whitecolor);
    color: var(--blackcolor);
    border: 1px solid var(--whitecolor);
    transition: color 0.3s ease-in-out;
}

.how__btn:focus {
    outline: 2px solid var(--sandcolor);
    outline-offset: 5px;
}

.how__btn:hover {
    color: var(--sandcolor);
}

.how__btn:active {
    color: var(--darksandcolor);
    outline: none;
}

.how__left__img {
   align-items: center;
}

.picture {
    width: 100%;
}



.how__right__content {
    max-width: 758px;
}

.how__img {
    max-width: none;
    width: 100%;
}

.how__subject {
    margin: 0;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.how__text {
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
}

.how__button1 {
    background-color: var(--sandcolor);
    border-radius: 16px;
    padding: 20px 38px;
    margin-right: 32px;
    color: var(--whitecolor);
    border: 1px solid var(--sandcolor);
    transition: background 0.3s ease-in-out;
}

.how__button1:focus {
    background-color: #FFB84D;
}

.how__button1:hover {
    background-color: #FFB84D;
}

.how__button1:active {
    background-color: var(--darksandcolor);
}

.how__button {
    background-color: var(--whitecolor);
    color: var(--blackcolor);
    border: 1px solid var(--blackcolor);
    border-radius: 16px;
    padding: 20px 35px;
    transition: background 0.3s ease-in-out;
}

.how__button:focus {
    background-color: var(--middlegraycolor);
    color: var(--whitecolor);
    border: none;
}

.how__button:hover {
    background-color: var(--middlegraycolor);
    color: var(--whitecolor);
    border: none;
}

.how__button:active {
    background-color: var(--blackcolor);
    color: var(--whitecolor);
    
}

.tabs__content {
    display: none;
}

.tabs__content--active {
    display: flex;
}

/*faq*/

.faq {
    margin-bottom: 100px;
}

.faq__title {
    margin: 0;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 63px;
}

.accordion__content {
    display: none;
}

.accordion__control {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.open .accordion__content {
    display: block;
}

.faq__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.faq__li {
    border-bottom: 1px solid var(--lightgraycolor);
    padding: 30px 0;
    cursor: pointer;
}

.faq__li:first-child {
    border-top: 1px solid var(--lightgraycolor);
}

.faq__li:first-child:hover {
    margin-top: 0;
    border-top: 1px solid var(--sandcolor);
}

.faq__li:hover {
    margin-top: -1px;
    border-top: 1px solid var(--sandcolor);
    border-bottom: 1px solid var(--sandcolor);
}

.faq__li:hover .faq__subject {
    color: var(--sandcolor);
}

.faq__li:hover svg ellipse {
    fill: var(--sandcolor);
}

.faq__li:hover svg path {
    fill: var(--whitecolor);
}

.faq__subject {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--blackcolor);
}

.faq__li:focus {
    margin-top: -1px;
    border-top: 1px solid var(--sandcolor);
    border-bottom: 1px solid var(--sandcolor);
}

.faq__li:focus-visible {
    outline: none;
}

.faq__li:focus .faq__subject {
    color: var(--sandcolor);
}

.faq__li:focus .faq__subject {
    color: var(--sandcolor);
}

.faq__li:focus svg ellipse {
    fill: var(--sandcolor);
}

.faq__li:focus svg path {
    fill: var(--whitecolor);
}

.faq__li:active {
    margin-top: -1px;
    border-top: 1px solid var(--lightgraycolor);
    border-bottom: 1px solid var(--lightgraycolor);
    margin-bottom: -1px;
}


.faq__li:active svg {
    transform: rotate(47deg);
    transition: transform 0.3s ease-in-out;
}

.faq__li:active .faq__subject {
    color: var(--blackcolor);
}

.faq__li:active svg ellipse {
    fill: var(--lightgraycolor);
}

.faq__li:active svg path {
    fill: var(--blackcolor)
}

/*footer*/

.footer {
    background: var(--blackcolor);
}

.footer__container {
    
    padding: 42px 75px;
}

.footer__left {
    margin-right: 349px;
}

.footer__picters {
    margin-bottom: 22px;
}

.footer__text {
    max-width: 252px;
}

.footer__list {
    margin: 0;
    padding: 0;
    margin-bottom: 90px;
    list-style: none;
}

.footer__li {
    font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 36px;
}

.footer__link {
    color: var(--lightgraycolor);
    transition: color 0.3s ease-in-out;
    white-space: nowrap;
}

.footer__link:focus {
    outline: 1px solid var(--sandcolor);
    outline-offset: 5px;
}

.footer__link:hover {
    color: var(--sandcolor);
}

.footer__link:active {
    color: var(--darksandcolor);
    outline: none;
}

.footer__seti:focus-visible {
    outline: none;
}

.footer__seti svg {
    fill: #666666;
    transition: fill 0.3s ease-in-out;
}

.footer__seti:focus svg {
    outline: 1px solid var(--sandcolor);
    outline-offset: 5px;
}

.footer__seti:hover svg {
    fill: var(--sandcolor);
    
}

.footer__seti:active svg {
    fill: var(--darksandcolor);
    outline: none;
}

.footer__imgs {
    display: flex;
    margin: 0;
    padding: 0;
}

.footer__img {
    margin-right: 25px;
}

.footer__img:last-child {
    margin-right: 0;
}

.footer__middle {
    margin-right: 236px;
    
}

.footer__title {
    margin: 0;
    margin-bottom: 25px;
    font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 59px;
color: var(--lightgraycolor);
}

.footer__enter {
    margin-bottom: 25px;
    background: var(--darkgreycolor);
    border-radius: 16px;
    max-width: 570px;
    height: 60px;
    padding: 14px 24px;
    transition: background 0.3s ease-in-out;
}

.form {
    display: flex;
    flex-direction: column;
}

.footer__enter:focus {
    background-color: #666666;
}

.footer__enter:hover {
    background-color: #666666;
}

.footer__enter:active {
    background: #666666;
}

.footer__textarea {
    margin-bottom: 32px;
    background: var(--darkgreycolor);
    border-radius: 16px;
    max-width: 570px;
    height: 150px;
    padding: 14px 24px;
    transition: background 0.3s ease-in-out;
}

.footer__textarea:focus {
    background-color: #666666;
}

.footer__textarea:hover {
    background-color: #666666;
}

.footer__textarea:active {
    background: #666666;
}

.form__btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background: var(--sandcolor);
    padding: 19px 52px;
    border-radius: 16px;
    border: 1px solid var(--sandcolor);
    color: var(--whitecolor);
    margin-right: 15px;
    transition: background 0.3s ease-in-out;
}

.form__btn:focus {
    background: #FFB84D;
}

.form__btn:hover {
    background: #FFB84D;
}

.form__btn:active {
    background: var(--darksandcolor);
}

.form__span {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: var(--lightgraycolor);
white-space: nowrap;
}

.footer__description {
    max-width: 360px;
    display: flex;
    align-items: center;
    margin: 0;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: var(--lightgraycolor);
}