@media (max-width: 1727px) {
    .footer__description {
        display: none;
    }
    .footer__middle {
        margin-right: 0;
    }
}

@media (max-width: 1320px) {

    .header__logo__img {
        margin-right: 5%;
    }   
    .header__nav {
        margin-right: 5%;
    }
    .about__content {
        flex-direction: column;
    }
    .about__img {
        max-width: none;
        margin-right: none;
        margin-bottom: 32px;
    }
    .about__plan__list {
        max-width: none;
    }
}

@media (max-width: 1260px) {
    .header__btn {
        margin-right: 100px;
    }
    .footer__left {
        margin-right: 100px;
    }
}

@media (max-width: 1130px) {
    .header__li {
        margin-right: 45px;
    }
    .header__btn {
        margin-right: 0;
    }
    .how__right__content {
        max-width: 600px;
    }
}

@media (max-width: 1024px) {
    /*header*/
    .section {
        margin-bottom: 40px;
    }
    .container {
        max-width: 1920px;
        padding: 0 50px;
        margin: 0 auto;
    }

    .container__shadow {
       
        align-items: center;
        padding-top: 27px;
        padding-bottom: 21px;

    }
    .header {
        margin-bottom: 46px;
    }
    .header__picture {
        margin-right: 0;
    }

    .header__input {
        position: relative;
        width: 539px;
        height: 60px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
        border-radius: 24px;
        padding: 16px 251px 22px 32px;
        border: none;
    }

    .header__btn__img {
        
        top: 45px;
        bottom: 0;
        right: 5px;
        cursor: pointer;
    }

    .header__input--active {
        display: block;
    }

    .header__logo__img {
        max-width: 150px;
        
    }

    .burger{
        position: relative;
        width: 30px;
        height: 20px;
        display: none;
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        margin-right: 39%;
    }

    .burger {
        display: block;
    }
    
    .burger__line {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: #000000;
        transform: translateY(-50%);
        transition: opacity 0.3s ease-in-out;
    }

    .burger::before {
        top: 0;
    }

    .burger::after {
        bottom: 0;
    }

    .burger--active .burger__line {
        opacity: 0;
    }

    .burger--active::before {
        top: 50%;
        transform: rotate(45deg);
    }

    .burger--active::after {
        bottom: auto;
        top: 50%;
        transform: rotate(-45deg);
    }

    .burger::before,
    .burger::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000000;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
    }

    .header__nav {
        position: fixed;
        left: 0;
        top: 64px;
        overflow-y: auto;
        z-index: 1000;
        padding: 170px 106px 229px 50px;
        width: 60%;
        height: 100vh;
        max-width: 420px;
        margin-right: 0;
        background-color: white;
        transform: translateX(-100%);
        transition: transform 0.6s ease-in-out;
    }

    .header__nav--visible {
        transform: none;
    }

    .header__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 60px;
    }

    .header__link {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #333333;
    }

    .page__body {
        overflow-x: hidden;
    }

    .stop-scroll {
        overflow: hidden;
    }
   
    /*hero*/

    .hero__content {
        max-width: 100%;
        padding: 160px 77px 30px 77px;
    }
    .hero__title {
        margin: 0;
        padding: 0;
        font-size: 60px;
        line-height: 75px;
        margin-bottom: 16px;
        
    }
    .hero__text {
        margin-bottom: 66px;
        font-size: 20px;
        line-height: 19px
    }
    .hero__btn {
        padding-right: 0;
    }

    .btn {
        margin-bottom: 115px;
    }
    /*about*/

    .about {
        margin-bottom: 85px;
    }
    .about__title {
        line-height: 45px;
        margin-bottom: 26px;
    }
    .about__text {
        margin-bottom: 58px;
    }
    .about__text1 {
        font-size: 15px;
    }
    .about__img {
        max-width: 915px;
        padding-top: 444px;
        margin-bottom: 32px;
    }
    .about__plan__list {
        padding: 65px 118px 60px 291px;
        background-position: 50px center;
        max-width: 870px;
    }
    /*how*/

    .how{
        margin-bottom: 78px;
    }
    .how__li {
        margin-right: 83px;
    }
    .how__subject {
        margin-bottom: 5px;
        line-height: 40px;
    }
    .how__right {
        max-width: 100%;
    }
    .how__text {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 24px;
    }
    /*faq*/

    .faq {
        margin-bottom: 95px;
    }

    .faq__title {
        margin-bottom: 32px;
    }
    .faq__subject {
        font-size: 20px;
    }
    /*footer*/

    .footer__left {
        margin-right: 134px;
    }
    .footer__picters {
        padding-top: 32px;
        margin-bottom: 17px;
    }
    .footer__middle {
        padding-top: 30px;
    }
    .footer__textarea {
        padding: 23px 24px;
    }
    .form__btn {
        padding: 19px 37px;
    }
}

@media (max-width: 1017px) {
    .header__logo__img {
        margin-right: auto;
    }
    .how__right__content {
        max-width: 530px;
    }
}

@media (max-width: 950px) {
    .how__left__img {
        flex-direction: column-reverse;
    }
    
}

@media (max-width: 768px) {
    .header {
        margin-bottom: 40px;
    }

    .container__shadow {
        align-items: center;
        padding-top: 12px;
        padding-bottom: 10px;
    }
    .burger {
        margin-right: 35%;
    }
    .header__logo__img {
        margin-right: 35%;
    }

    /*hero*/

    .hero__content {
        max-width: 100%;
        padding: 160px 40px 26px 41px;
    }
    .hero__title {
        font-size: 50px;
        line-height: 63px;
    }
    .hero__text {
        margin-bottom: 64px;
        font-size: 18px;
        line-height: 19px;
    }
    /*about*/
    .about {
        margin-bottom: 77px;
    }

    .about__img {
        margin-right: 0;
    }
    .about__img__text {
        padding: 35px 37px;
    }
    .about__description {
        margin-right: 10px;
        font-size: 18px;
        line-height: 34px;
    }
    .about__plan__list {
        padding: 35px 46px 35px 172px;
    }
    .img__list {
        background-image: none;
        background-image: url("../img/Frame.abou.768.jpg");
        background-position: 40px center;
    }
    .img__list1 {
        background-image: none;
        background-image: url("../img/Frame.about.768.jpg");
        background-position: 40px center;
    }

    /*how*/
    .how {
        margin-bottom: 45px;
    }
    .how__li {
        margin-right: 153px;
    }
    .how__right {
        max-width: none;
        padding-top: 30px;
    }
    .how__text {
        font-size: 16px;
    }
    /*faq*/

    .faq {
        margin-bottom: 107px;
    }

    .faq__subject {
        max-width: 570px;
    }

    /*footer*/ 

    .footer__container {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer__text {
        display: none;
    }

    .footer__picters {
        padding-top: 47px;
    }

    .footer__middle {
        padding-top: 50px;
    }

    .footer__enter {
        max-width: 541px;
    }

    .footer__textarea {
        max-width: 541px;
    }

}

@media (max-width: 718px) {
    .how__list {
        justify-content: space-between;
    }
    .how__li {
        margin-right: 0;
    }
}

@media (max-width: 680px) {
    .header__logo__img {
        margin-right: 17%;
    }

    .how__list {
        justify-content: space-between;
    }

    .how__li {
        margin-right: 0;
    }
}

@media (max-width: 576px) {
    .burger {
        margin-right: 25%;
    }

    .hero__title {
        font-size: 31px;
        line-height: 35px;
    }

    .hero__content {
        padding: 65px 40px 26px 41px;
    }

    .btn {
        font-size: 17px;
        margin-bottom: 50px;
    }
    .about__img {
        padding-top: 244px;
    }
    .about__description {
        font-size: 15px;
    }
    .about__img__text {
        flex-direction: column;
        padding: 10px 20px
    }
    .about__plan__list {
        padding: 0;
        padding-top: 95px;
        border: none;
        display: flex;
        flex-direction: column;
    }
    .img__list {
        background-position: left top;
    }
    .img__list1 {
        background-position: left top;
    }
    .faq__title {
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
    }
}

@media (max-width: 545px) {
    .how__title {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
   
    .hero__title {
        font-size: 25px;
    }
    .hero__text {
        font-size: 14px;
        margin-bottom: 20px;
    }
}

@media (max-width: 420px) {
    .header__logo__img {
        margin-right: auto;
    }
    .hero__title {
        font-size: 15px;
    }
    .hero__text {
        font-size: 13px;
    }
    .btn {
        font-size: 13px;
        padding: 13px 25px;
    }
    .about__title {
        font-size: 30px;
    }
    .about__img {
        padding-top: 166px;
    }
    .about__description {
        font-size: 11px;
    }
    .about__btn {
        padding: 13px 23px;
    }
    .how__subject {
        font-size: 14px;
    }

}

@media (max-width: 380px) {
    .hero__content {
     padding: 10px 10px 10px 10px;
    }
    .how__button1 {
        padding: 20px 5px;
        margin-right: 3px;
    }
    .how__button {
        padding: 14px 13px;
    }
    .faq__title {
        font-size: 16px;
    }
    .faq__subject {
        font-size: 14px;
    }
    .footer__title {
        font-size: 25px;
    }
}


@media (max-width: 320px) {
    .container {
    max-width: 1920px;
    padding: 0 15px;
    margin: 0 auto;
    }
    .container__shadow {
        padding-top: 45px;
        padding-bottom: 10px;
    }
    .burger {
        margin-right: 22%;
    }
    .header__logo__img {
        max-width: 110px;
        margin-right: 22%;
    }
    .header__btn svg {
        width: 22px;
        height: 22px;
    }
    .hero {
        margin-bottom:  52px;
    }
    .hero__content {
        display: flex;
        align-items: center;
        align-content: center;
        padding: 55px 25px 12px 28px;
    }
    .hero__title {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 4px;
    }
    .hero__text {
    margin-bottom: 34px;
    font-size: 12px;
    line-height: 14px;
    }
    .btn {
        padding: 13px 28px;
        border-radius: 8px;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 30px;
    }
    .hero__button {
        width: 10px;
        height: 10px;
    }

    .about {
        margin-bottom: 59px;
    }

    .about__title {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .about__text {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .about__img {
        position: relative;
        background-image: none;
        padding: 0;
        margin-bottom: 83px;
    }
    .about__img::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0px;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url("../img/about.Rectangle.320.png");
        background-repeat: no-repeat;
    }

    .about__img__text {
        padding: 0;
        padding-top: 208px;
        background: 0;
    }
    .about__plan__list {
        padding: 0;
        padding-top: 60px;
    }

    .img__list {
        background-image: none;
        background-image: url("../img/Frame.about.320.1.jpg");
        background-repeat: no-repeat;
        background-position: top left;
    }
    .img__list1 {
        background-image: none;
        background-image: url("../img/Frame.about.320.jpg");
        background-repeat: no-repeat;
        background-position: top left;
    }

    .about__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: #000000;

    }
    .about__btn {
        position: absolute;
        bottom: -51px;
        right: 128px;
        padding: 10px 42px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        border: 2px solid #FF9900;
        border-radius: 8px;
        background: white;
        color: #FF9900;

    }
    .about__subject {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: normal;
    }
    .about__text1 {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }

    .how {
        margin-bottom: 59px;
    }
    .how__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
    }
    .how__list {
        margin-bottom: 14px;
    }
    .how__btn {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    .how__subject {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 8px;
    }
    .how__right {
        padding-top: 11px;
    }
    .how__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }
    .how__button1 {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        padding: 12px 44px;
        border-radius: 8px;
        margin-right: 4px;
    }
    .how__button {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        padding: 11px 31px;
        border-radius: 8px;
    }


    .faq {
        margin-bottom: 60px;
    }
    .faq__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 16px;
    }
    .faq__subject {
        max-width: 245px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }
    svg {
        width: 30px;
        height: 30px;
    }


    .footer__middle {
        padding-top: 33px;
    }
    .footer__title {
        margin-bottom: 19px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }
    .footer__enter {
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        padding: 14px 18px;
    }
    .footer__textarea {
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        padding: 14px 20px;
        margin-bottom: 26px;
    }
    .form__button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form__btn {
        margin-right: 0;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        border-radius: 8px;
        padding: 11px 27px;
        margin-bottom: 13px;
    }
    .form__span {
        position: relative;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
    }
    .checkbox {
        left: 0;
        top: 0;
        bottom: 0;
        margin: 0;
    }

    .footer__left {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__picters {
        padding-top: 32px;
        max-width: 131px;
    }
    .footer__img {
        margin-right: 17px;
    }
    .footer__seti svg {
        width: 40px;
        height: 40px;
    }
}